<div class="container left-content product-portal-container mt-5 mb-5">
  <form action="" class="mb-6">
    <input type="text" name="searchProduct" id="searchProduct" placeholder="Enter name of product">
    <button type="submit">Search</button>
    <div>
      <h3>manufacture: </h3>
      <ul class="d-flex">
        <li class="mr-3"><a href="?manufacture=medicine">Medicine</a></li>
        <li class="mr-3"><a href="?manufacture=swipewire">SwipeWire</a></li>
        <li class="mr-3"><a href="?manufacture=salepush">SalePush</a></li>
        <li class="mr-3"><a href="?manufacture=dwellsmith">Dwellsmith</a></li>
        <li class="mr-3"><a href="?manufacture=formonix">Formonix</a></li>
        <li class="mr-3"><a href="?manufacture=branding">Branding</a></li>
        <li class="mr-3"><a href="?manufacture=seekingon">Seekingon</a></li>
        <li class="mr-3"><a href="?manufacture=crowdstage">Crowdstage</a></li>
      </ul>
    </div>

    <div class="filter__sort">
      <h3>Sort By:</h3>
      <ul class="ml-3">
        <li><a href="{{originalUrl}}&sort=name">Name</a></li>
        <li><a href="{{originalUrl}}&sort=price">Price</a></li>
      </ul>
    </div>
  </form>
  <div class="row tm-content-row d-flex flex-column">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col d-flex justify-content-between">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">IMAGE</th>
                <th scope="col">PRICE</th>
                <th scope="col">STATUS</th>
                <th scope="col">CREATE AT</th>
                <th scope="col">ACTION</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
            {{#if listProducts}}
              {{#each listProducts}}
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">{{this.name}}</td>
                  <td><img
                      src={{this.image}}
                      style="width: 40px; height: 40px; border-radius: 50%"
                    /></td>
                    <td>{{this.price}}</td>
                  <td>{{this.status}}</td>
                  <td>{{this.create_at}}</td>
                  <td>
                    <a href="/products/edit" class="tm-product-delete-link">
                      Edit
                    </a>
                  </td>
                
                {{!-- <td>
                  <a href="">
                  
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td> --}}
              </tr>
              {{/each}}
            {{/if}}
            </tbody>
          </table>
        </div>

        {{!-- Pagination --}}
        {{#if pages}}
          <nav aria-label="Page navigation">
            <ul class="pagination">
              {{#if paginate.hasPreviousPages}}
                {{#if currentPage}}
                  <li class="page-item">
                    <a class="page-link" href="?page={{minus currentPage 1}}&limit=5">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                {{/if}}
              {{/if}}

              {{#each pages}}
                <li class="page-item">
                  <a class="page-link active" href="{{this.url}}">{{this.number}}</a>
                </li>
              {{/each}}

              <li class="page-item">
                <a class="page-link" href="{{paginate.href}}">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>
        {{/if}}
        
        <!-- table container -->
        <a
          href="/products/add-product"
          class="btn btn-primary btn-block text-uppercase mb-3"
        >Add new product</a>
        <button class="btn btn-primary btn-block text-uppercase">
          Delete selected products
        </button>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col mt-5">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h2 class="tm-block-title">Product Categories</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <thead>
              <tr>
                <th scope="col">CATEGORY NAME</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
              <tbody>
                {{#each listCategory}}
                  <tr>
                    <td class="tm-product-name"><a href="?category={{this.name}}">{{this.name}}</a></td>
                    <td class="text-center">
                      <button class="btn btn-primary" data-toggle="modal" data-target="#updateCategoryModal" onclick="setCategoryId({{this.id}})">
                        Edit
                      </button>
                    </td>

                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <button class="btn btn-primary btn-block text-uppercase mb-3" data-toggle="modal" data-target="#addCategoryModal" onclick="">
            Add new category
          </button>
        </div>
      </div>
    </div>
</div>
</div>
{{> sidebar}}

<!-- Modal Add -->
<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="addCategoryModalLabel">New Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="new-category">
            <label for="category">Category name: </label>
            <input type="text" name="category" id="category">
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="handleAddCategory()">Save changes</button>
        </div>
    </div>
  </div>
</div>


<!-- Modal Edit -->
<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="updateCategoryModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="updateCategoryModalLabel">Edit Category</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
          <div class="new-category">
            <label for="category">New category name: </label>
            <input type="text" name="categoryUpdate" id="categoryUpdate">
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="handleUpdateCategory()">Save changes</button>
        </div>
    </div>
  </div>
</div>

{{#extend "scripts"}}
   <script>
    function handleAddCategory(){
      console.log('handleAddCategory')
      const category = $('#category').val()

      console.log(category)
      const data = {
        category,
      }

      $.post('/api/category', data, (data)=>{
        location.reload()
        console.log(data)
      })
    }

    var categoryId = null;
    function setCategoryId(id){
      categoryId = id
    }

    function handleUpdateCategory(){
      const categoryUpdate = $('#categoryUpdate').val()
      console.log(categoryId)
      const data = {
        categoryUpdate,
        categoryId,
      }

      $.post('/api/category/update', data, (data)=>{
        location.reload();
        console.log(data)
      })
    }
   </script> 
{{/extend}}

