<div class="container left-content product-portal-container mt-5 mb-5">
  <form action="" class="mb-6">
    <input type="text" name="searchProduct" id="searchProduct" placeholder="Enter name of product">
    <button type="submit">Search</button>
    <div>
      <h3>manufacture: </h3>
      <ul class="d-flex">
        <li class="mr-3"><a href="?manufacture=medicine">Medicine</a></li>
        <li class="mr-3"><a href="?manufacture=swipewire">SwipeWire</a></li>
        <li class="mr-3"><a href="?manufacture=salepush">SalePush</a></li>
        <li class="mr-3"><a href="?manufacture=dwellsmith">Dwellsmith</a></li>
        <li class="mr-3"><a href="?manufacture=formonix">Formonix</a></li>
        <li class="mr-3"><a href="?manufacture=branding">Branding</a></li>
        <li class="mr-3"><a href="?manufacture=seekingon">Seekingon</a></li>
        <li class="mr-3"><a href="?manufacture=crowdstage">Crowdstage</a></li>
      </ul>
    </div>
  </form>
  <div class="row tm-content-row d-flex flex-column">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col d-flex justify-content-between">
      <div class="tm-bg-primary-dark tm-block tm-block-products">
        <div class="tm-product-table-container">
          <table class="table table-hover tm-table-small tm-product-table">
            <thead>
              <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">PRODUCT NAME</th>
                <th scope="col">IMAGE</th>
                <th scope="col">PRICE</th>
                <th scope="col">UNIT SOLD</th>
                <th scope="col">IN STOCK</th>
                <th scope="col">EXPIRE DATE</th>
                <th scope="col">ACTION</th>
                <th scope="col">&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {{#each listProducts}}
                <tr>
                  <th scope="row"><input type="checkbox" /></th>
                  <td class="tm-product-name">{{this.name}}</td>
                  <td><img
                      src={{this.image}}
                      style="width: 40px; height: 40px; border-radius: 50%"
                    /></td>
                    <td>{{this.price}}</td>
                  <td>{{this.numPurchased}}</td>
                  <td>550</td>
                  <td>{{this.create_at}}</td>
                  <td>
                    <a href="/products/edit" class="tm-product-delete-link">
                      Edit
                    </a>
                  </td>
                
                {{!-- <td>
                  <a href="">
                  
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td> --}}
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- table container -->
        <a
          href="/products/add-product"
          class="btn btn-primary btn-block text-uppercase mb-3"
        >Add new product</a>
        <button class="btn btn-primary btn-block text-uppercase">
          Delete selected products
        </button>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 tm-block-col mt-5">
        <div class="tm-bg-primary-dark tm-block tm-block-product-categories">
          <h2 class="tm-block-title">Product Categories</h2>
          <div class="tm-product-table-container">
            <table class="table tm-table-small tm-product-table">
              <thead>
              <tr>
                <th scope="col">CATEGORY NAME</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
              <tbody>
                {{#each listCategory}}
                  <tr>
                    <td class="tm-product-name"><a href="?category={{this.name}}">{{this.name}}</a></td>
                    <td class="text-center">
                      <a href="#" class="tm-product-delete-link">
                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                      </a>
                    </td>

                  </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          <!-- table container -->
          <button class="btn btn-primary btn-block text-uppercase mb-3">
            Add new category
          </button>
        </div>
      </div>
    </div>
</div>
</div>
{{> sidebar}}

