
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="breadcrumb__text">
          <h2>Organi Shop</h2>
          <div class="breadcrumb__option">
            <a href="./index.html">Home</a>
            <span>Shop</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Product Section Begin -->
<section class="product spad">
  <div class="container">
    {{!-- Price --}}
    <div class="sidebar__price">
      <h4>Price</h4>
      <div class="price-input">
        <input type="text" id="minPrice" name="minPrice" placeholder="From..."/>
        <input type="text" id="maxPrice" name="maxPrice" placeholder="to..."/>
        <a href="#" 
        onclick="this.href='?minPrice='+encodeURIComponent(document.getElementById('minPrice').value) + '&maxPrice=' + encodeURIComponent(document.getElementById('maxPrice').value)">Apply</a>
      </div>
    </div>
    <form id="my_form" action="" method="get">
      <div class="row">
        <div class="col-lg-3 col-md-5">
          <div class="sidebar">
            <div class="sidebar__item">
              <h4>Department</h4>
              <ul>
                <li><a href="?category=fresh meat" onclick="document.getElementById('my_form').submit();">Fresh Meat</a></li>
                <li><a href="?category=vegetable" onclick="document.getElementById('my_form').submit();">Vegetables</a></li>
                <li><a href="?category=fruit nut" onclick="document.getElementById('my_form').submit();">Fruit & Nut</a></li>
                <li><a href="?category=fast food" onclick="document.getElementById('my_form').submit();">Fastfood</a></li>
                <li><a href="?category=beverage" onclick="document.getElementById('my_form').submit();">Beverage</a></li>
              </ul>
            </div>
            {{!-- <div class="sidebar__item">
              <h4>Price</h4>
              <div class="price-range-wrap">
                <div
                  class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                  data-min="10"
                  data-max="540"
                >
                  <div
                    class="ui-slider-range ui-corner-all ui-widget-header"
                  ></div>
                  <span 
                    tabindex="0"
                    class="ui-slider-handle ui-corner-all ui-state-default"
                  ></span>
                  <span
                    tabindex="0"
                    class="ui-slider-handle ui-corner-all ui-state-default"
                  ></span>
                </div>
                <div class="range-slider">
                  <div class="price-input">
                    <input type="text" id="minPrice" name="minPrice" placeholder="From..."/>
                    <input type="text" id="maxPrice" name="maxPrice" placeholder="to..."/>
                    <a href="#" 
                    onclick="this.href='?minPrice='+encodeURIComponent(document.getElementById('minPrice').value) + '&maxPrice=' + encodeURIComponent(document.getElementById('maxPrice').value)">Ap dung</a>
                  </div>
                </div>
              </div>
            </div> --}}
            <div class="sidebar__item sidebar__item__color--option">
              <h4>Colors</h4>
              <div class="sidebar__item__color sidebar__item__color--white">
                <label for="white">
                  White
                  <input type="radio" id="white" />
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--gray">
                <label for="gray">
                  Gray
                  <input type="radio" id="gray" />
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--red">
                <label for="red">
                  Red
                  <input type="radio" id="red" />
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--black">
                <label for="black">
                  Black
                  <input type="radio" id="black" />
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--blue">
                <label for="blue">
                  Blue
                  <input type="radio" id="blue" />
                </label>
              </div>
              <div class="sidebar__item__color sidebar__item__color--green">
                <label for="green">
                  Green
                  <input type="radio" id="green" />
                </label>
              </div>
            </div>
            <div class="sidebar__item">
              <h4>Manufacture</h4>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=medicine" onclick="document.getElementById('my_form').submit();">Medicine</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=swipewire" onclick="document.getElementById('my_form').submit();">SwipeWire</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=salepush" onclick="document.getElementById('my_form').submit();">SalePush</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=dwellsmith" onclick="document.getElementById('my_form').submit();">Dwellsmith</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=formonix" onclick="document.getElementById('my_form').submit();">Formonix</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=branding" onclick="document.getElementById('my_form').submit();">Branding</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=seekingon" onclick="document.getElementById('my_form').submit();">Seekingon</a>
              </div>
              <div class="sidebar__item__manufacture">
                <a href="?manufacture=crowdstage" onclick="document.getElementById('my_form').submit();">Crowdstage</a>
              </div>
            </div>
            <div class="sidebar__item">
              <div class="latest-product__text">
                <h4>Latest Products</h4>
                <div class="latest-product__slider owl-carousel">
                  <div class="latest-prdouct__slider__item">
                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="img/latest-product/lp-1.jpg" alt="" />
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>
                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="img/latest-product/lp-2.jpg" alt="" />
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>
                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="img/latest-product/lp-3.jpg" alt="" />
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>
                  </div>
                  <div class="latest-prdouct__slider__item">
                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="img/latest-product/lp-1.jpg" alt="" />
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>
                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="img/latest-product/lp-2.jpg" alt="" />
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>
                    <a href="#" class="latest-product__item">
                      <div class="latest-product__item__pic">
                        <img src="img/latest-product/lp-3.jpg" alt="" />
                      </div>
                      <div class="latest-product__item__text">
                        <h6>Crab Pool Security</h6>
                        <span>$30.00</span>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {{!-- Sale off --}}
        <div class="col-lg-9 col-md-7">
          <div class="product__discount">
            <div class="section-title product__discount__title">
              <h2>Sale Off</h2>
            </div>
            <div class="row">
              <div class="product__discount__slider owl-carousel">
                {{#each saleProducts}}
                  <div class="col-lg-4">
                    <div class="product__discount__item">
                      <div
                        class="product__discount__item__pic set-bg"
                        data-setbg={{this.image}}
                      >
                        <div class="product__discount__percent">-20%</div>
                        <ul class="product__item__pic__hover">
                          <li><a href="#"><i class="fa fa-heart"></i></a></li>
                          <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                          <li><a href="#"><i
                                class="fa fa-shopping-cart"
                              ></i></a></li>
                        </ul>
                      </div>
                      <div class="product__discount__item__text">
                        <span>{{this.category}}</span>
                        <h5><a
                            href="/products/{{this.id}}"
                          >{{this.name}}</a></h5>
                        <div class="product__item__price">$
                          {{this.sale_price}}.00
                          <span>$ {{this.price}}.00</span></div>
                      </div>
                    </div>
                  </div>
                {{/each}}
              </div>
            </div>
          </div>
          <div class="filter__item">
            <div class="row">
              <div class="col-lg-4 col-md-5">
                <div class="filter__sort">
                  <span>Sort By</span>
                  {{!-- <select>
                    <option value="price"><a href="&sort=price">Price</a></option>
                    <option value="releasedate">Release Date</option>
                  </select> --}}

                  <div class="hero__categories">
                        <div class="hero__categories__all">
                            <i class="fa fa-bars"></i>
                            <span>Select option</span>
                        </div>
                        <ul>
                            <li><a href="{{originalUrl}}&sort=price">Price</a></li>
                            <li><a href="{{originalUrl}}&sort=releasedate">Release date</a></li>
                        </ul>
                    </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="filter__found">
                  <h6><span>12</span> Products found</h6>
                </div>
              </div>
              <div class="col-lg-4 col-md-3">
                <div class="filter__option">
                  <span class="icon_grid-2x2"></span>
                  <span class="icon_ul"></span>
                </div>
              </div>

              <div class="col-lg-4 col-md-3">
                <input type="text" name="nameProduct" id="nameProduct" placeholder="Enter the name of product...">
                <button type="submit">
                    Search
                </button>
              </div>
            </div>
          </div>
          <div class="row">
            {{#if listProducts}}
                {{#each listProducts}}
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="product__item">
                    <div
                        class="product__item__pic set-bg"
                        data-setbg={{this.image}}
                    >
                        <ul class="product__item__pic__hover">
                        <li><a href="#"><i class="fa fa-heart"></i></a></li>
                        <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                        <li><a href="#"><i
                                class="fa fa-shopping-cart"
                            ></i></a></li>
                        </ul>
                    </div>
                    <div class="product__item__text">
                        <h6><a href="/products/{{this.id}}">{{this.name}}</a></h6>
                        {{#if this.sale_price}}
                        <h5>${{this.sale_price}}.00</h5>
                        <span>$ {{this.price}}.00</span>
                        {{else}}
                        <h5>${{this.price}}.00</h5>
                        {{/if}}

                    </div>
                    </div>
                </div>
                {{/each}}
            {{else}}
                <h2>There aren't product</h2>
            {{/if}}
          </div>

          {{!-- {{#each pages}}
            <a href="">{{this.number}}</a>
          {{/each}} --}}
          {{#if pages}}
            <div class="product__pagination"></div>
              {{#if paginate.hasPreviousPages}}
                {{#if currentPage}}
                  <a href="?page={{minus currentPage 1}}&limit=5" class="product__pagination-link">Prev</a>
                {{/if}}

              {{/if}}
              {{#each pages}}
                <a href="{{this.url}}" class="product__pagination-link">{{this.number}}</a>
              {{/each}}
              
              <a href="{{paginate.href}}" class="product__pagination-link">Next</a>
              
            </div> 
            {{!-- <div class="product__pagination">
              
              <a href="#">1</a>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#"><i class="fa fa-long-arrow-right"></i></a>
            </div>  --}}

                  
          {{/if}}
          {{!-- <div class="product__pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
          </div> --}}
          
        </div>
      </div>
    </form>

  </div>
</section>


<!-- Product Section End -->